html {
  background-color: #fdf6e3;
}

body {
  background-color: #fdf6e3;
}

header {
  font-size: 1.5rem;
}

footer {
  font-size: 1.5rem;
}

ul {
  font-family: sans-serif;
}

h1 {
  text-transform: uppercase;
}

.wrapper {
  background-color: #eee8d5;
}

.dfnn {
  background-color: #b58900;
}

#contents {
  color: #93a1a1;
}

#favs {
  color: #93a1a1;
}

#facts {
  color: #93a1a1;
}

#types {
  color: #93a1a1;
}

p + strong {
  color: #fff;
}

mark {
  background-color: #719e07;
}

a[rel="external"] {
  background-color: #2694d8;
}

.rasp {
  color: #719e47;
}

.blue {
  color: #2aa198;
}

.a{
  background-color: #657ba3;
}

.b{
  background-color: #586e75;
}

.c{
  background-color: #d04b16;
}
